@font-face {
  font-weight: 700;
  font-family: "Helvetica Neue";
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Bold.ttf") format("truetype");
}
@font-face {
  font-weight: 300;
  font-family: "Helvetica Neue";
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Light.ttf") format("truetype");
}
@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: "Helvetica Neue";
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
}
@font-face {
  font-weight: 500;
  font-family: "Helvetica Neue";
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
}
@font-face {
  font-weight: 400;
  font-family: "Helvetica Neue";
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-weight: 400;
  font-family: "Helvetica Neue";
  font-style: italic;
  src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-weight: normal;
  font-family: "Bebas";
  src: url("../../fonts/bebasneueregular.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

input {
  border: 0;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

.link--reset {
  text-decoration: none;
}

* {
  font-family: "Helvetica Neue";
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}

a {
  display: inline;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 970px;
  overflow: hidden;
  border-right: 15px solid white;
  border-left: 15px solid white;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 970px;
  border-right: 15px solid white;
  border-left: 15px solid white;
}

.grid {
  display: grid;
}

.btn {
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.7;
}

.active {
  color: #e8663c !important;
}
.active span {
  color: #f3af9d !important;
  font-family: inherit;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Bebas;
  color: #e8663c;
}

.text {
  font-size: 13px;
  color: #414141;
}

.line {
  margin: 20px 0;
  padding: 0;
  height: 10px;
  border: none;
  box-sizing: border-box;
  background-position: 50%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="1px" viewBox="0 0 3 3" fill="lightgray"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
  background-size: 6px 6px;
}

.line-after {
  position: relative;
}
.line-after:after {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="1px" viewBox="0 0 3 3" fill="lightgray"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
  background-size: 6px 6px;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 15px;
  height: 15px;
}

.quote_icon {
  position: relative;
}
.quote_icon:before {
  content: url("../../images/blog/icon_quote.png");
  position: absolute;
  top: 0;
  left: -90px;
}

.slider_icon {
  position: relative;
}
.slider_icon:before {
  content: url("../../images/blog/icon_slider.png");
  position: absolute;
  top: 0;
  left: -90px;
}

.img_icon {
  position: relative;
}
.img_icon:before {
  content: url("../../images/blog/icon_img.png");
  position: absolute;
  top: 0;
  left: -90px;
}

.video_icon {
  position: relative;
}
.video_icon:before {
  content: url("../../images/blog/icon_video.png");
  position: absolute;
  top: 0;
  left: -90px;
}

.link_icon {
  position: relative;
}
.link_icon:before {
  content: url("../../images/blog/icon_link.png");
  position: absolute;
  top: 0;
  left: -90px;
}

.header {
  padding: 22px 0 19px 0;
}
.header .header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__flex .header__logo {
  font-family: Bebas;
  font-size: 36px;
  line-height: 1.2;
  color: #e8663c;
}
.header .header__flex .header__logo span {
  color: #f3af9d;
  font-family: inherit;
}
.header .header__flex .header__nav .nav-item {
  font-family: Bebas;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #b9b9b9;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.header .header__flex .header__nav .nav-item span {
  font-family: Bebas;
  color: #b9b9b9;
}
.header .header__flex .header__nav .nav-item:visited {
  color: #b9b9b9;
}
.header .header__flex .header__nav .nav-item:hover {
  opacity: 0.7;
  color: #e8663c;
}
.header .header__flex .header__nav .nav-item:hover span {
  color: #f3af9d;
}
.header .header__flex .header__nav .nav-item:not(:first-child) {
  margin-left: 26px;
}

.page-title {
  position: relative;
  padding-bottom: 28px;
}
.page-title .container {
  background-color: #e8663c;
}
.page-title .container .page-title__title {
  margin: 17px 0 17px 19px;
  font-family: Bebas;
  font-size: 24px;
  color: #ffffff;
}
.page-title .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  background-color: rgba(232, 96, 60, 0.5);
  z-index: -1;
}

.portfolio {
  padding-bottom: 45px;
}
.portfolio .sort .sort__list {
  display: flex;
  list-style: none;
  margin-bottom: 38px;
}
.portfolio .sort .sort__list .sort__list-item {
  color: #b9b9b9;
  text-transform: uppercase;
}
.portfolio .sort .sort__list .sort__list-item:not(.portfolio__active):hover {
  opacity: 0.8;
  color: #e8663c;
}
.portfolio .sort .sort__list .sort__list-item:not(:last-child) {
  margin-right: 15px;
}
.portfolio .sort .sort__list .sort__list-item a {
  padding: 10px;
  display: block;
  height: 100%;
}
.portfolio .sort .sort__list .portfolio__active {
  background: #e8663c;
  color: white;
}
.portfolio .works .works__grid {
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 32px;
}
.portfolio .works .works__grid .works__grid-item .black_background {
  position: relative;
  background: #000;
  overflow: hidden;
  z-index: 999;
}
.portfolio .works .works__grid .works__grid-item .black_background a:hover:after {
  content: url("../../images/portfolio/cross.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio .works .works__grid .works__grid-item .black_background a:hover img {
  opacity: 0.4;
}
.portfolio .works .works__grid .works__grid-item .black_background a img {
  -o-object-fit: inherit;
     object-fit: inherit;
  display: block;
}
.portfolio .works .works__grid .works__grid-item .works__wrapper {
  z-index: 0;
  border: 1px solid #dbdbdb;
  border-top: none;
  position: relative;
  bottom: 4px;
  width: 100%;
}
.portfolio .works .works__grid .works__grid-item .works__wrapper .works__subject {
  margin: 0;
  padding: 10px 0 2px 14px;
  font-family: Bebas;
  font-size: 18px;
  text-align: left;
  color: #b9b9b9;
}
.portfolio .works .works__grid .works__grid-item .works__wrapper .works__date {
  margin: 0;
  padding: 0 0 10px 14px;
  font-family: Bebas;
  font-size: 16px;
  text-align: left;
  color: #e8663c;
}

.footer {
  position: relative;
  color: white;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 102, 60, 0.5);
  z-index: -1;
}
.footer .container {
  padding: 38px 35px 0 35px;
  background: #e8663c;
}
.footer .container .footer__list {
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 75px;
}
.footer .container .footer__list .footer__title {
  margin: 0;
  font-family: Bebas;
  font-size: 20px;
}
.footer .container .footer__list .footer__text {
  margin-top: 26px;
  font-size: 13px;
  line-height: 1.2;
}
.footer .container .footer__list .footer__social .social-item {
  height: 100%;
}
.footer .container .footer__list .footer__social .social-item img {
  width: auto;
  transition: 0.3s ease;
}
.footer .container .footer__list .footer__social .social-item img:hover {
  opacity: 0.7;
}
.footer .container .footer__list .footer__social .social-item:not(:first-child) {
  margin-left: 5px;
}/*# sourceMappingURL=portfolio.css.map */