.contact {
    margin-bottom: 38px;
    .map {
        margin-bottom: 38px;
        iframe {
            height: 400px;
            width: 675px;
        }
    }

    .connection {

        display: flex;
        .connection__item {
            &:first-child {
                max-width: 180px;
                margin-right: 34px;
            }
            &:last-child {
                width: 100%;
            }
            .connection__text {
                margin: 0;
                &:not(:first-child) {
                    font-weight: 500;
                }
                &:first-child {
                    margin-bottom: 14px;
                }
                &:nth-child(2) {
                    color: $orange-color;
                    
                }
                &:nth-child(3) {
                    margin-bottom: 14px;
                    
                }
                
            }
            form {
                .connection__input {
                    margin-bottom: 10px;
                    padding: 12px 0 12px 14px ;
                    border: 1px solid $orange-color;
                    font-size: 14px;
                    font-weight: 500;
                    color: $orange-color;
                    
                    &::placeholder {
                        color: $orange-color;
                        text-transform: uppercase;
                    }
                    
                }
    
                .connection__textarea {
                    margin-bottom: 10px;
                    padding: 12px 0 0 14px;
                    border: 1px solid $orange-color;
                    width: 100%;
                    max-height: 205px;
                    min-height: 150px;
                    color: $orange-color;
                    font-size: 14px;
                    font-weight: 500;
                    resize: vertical;

    
                    &::placeholder {
                        color: $orange-color;
                        text-transform: uppercase;
                    }
                }
                .connection__button {
                    text-transform: uppercase;
                    padding: 10px 16px 10px 13px;
                    color: white;
                    background: $orange-color;
                    border: none;


                }
            }
        }
        

    }
}