.portfolio {
    .sort {
        .sort__list {
            display: flex;
            list-style: none;

            .sort__list-item {
                text-transform: uppercase;
                padding: 10px;
                color: $gray-color;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }

            .portfolio__active {
                background: $orange-color;
                color: white;

            }
        }
    }

    .works {
        .works__grid {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            row-gap: 32px;

            .works__grid-item {
                .black_background {

                    background: #000;
                    overflow: hidden;

                    img {
                        position: relative;
                        object-fit: inherit;
                        display: block;

                        // &:hover {
                        //     opacity: 0.4;
                        // }

                        &:after {
                            content: "loremdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
                            position: absolute;
                            top: 0;
                            left: 0;
                            // top:50%;
                            // left:50%;
                            // transform:translate(-50%, -50%);
                        }
                    }

                }

                .works__wrapper {
                    border: 1px solid #dbdbdb;
                    border-top: none;
                    position: relative;
                    bottom: 4px;
                    width: 100%;

                    .works__subject {
                        margin: 0;
                        padding: 10px 0 4px 14px;
                        font-family: Bebas;
                        font-size: 18px;
                        text-align: left;
                        color: $gray-color;
                    }

                    .works__date {
                        margin: 0;
                        padding: 0 0 10px 14px;
                        font-family: Bebas;
                        font-size: 16px;
                        text-align: left;
                        color: $orange-color;
                    }
                }

            }
        }
    }
}