.page-title {
    
    position: relative;
    padding-bottom: 28px;
    .container {
        background-color: $orange-color;
        .page-title__title {
            margin: 17px 0 17px 19px;
            font-family: Bebas;
            font-size: 24px;
            color: #ffffff;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 61px;
            background-color: rgba(232, 96, 60, 0.5);
            z-index: -1; // for the color block that is out of container
        }
    }
}