    @media (max-width: 767.9px) {
    .header {
        .header__flex {
            .header__logo {
                font-size: 46px;
            }
            .header__nav {
                .nav-item {
                    font-size: 30px;
                }
            }
        }
    }
    .page-title {
        .container {
            .page-title__title {
                font-size: 30px;
            }
        }
    }
    .wrapper {
        display: block;
        .bio {
            padding-bottom: 18px;
            ;
            article {
                p {
                    font-size: 16px;
                    line-height: 20px;
                    &:nth-of-type(4)::first-letter {
                        font-size: 400%;
                    }
                }
                blockquote {
                    font-size: 16px;
                    line-height: 20px;
                }
                .article__column {
                    .column__list {
                        .column-list {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .aside {
            gap: 50px;
            display: flex;
            justify-content: space-between  ;
            padding-bottom: 20px;
            .aside__wrapper {
                
                &:first-child {
                    min-width: 200px;
                }
                &:nth-child(2) {
                    flex-grow: 1;
                }
                &:last-child {
                    flex-grow: 2;
                }
                .line-after {
                    &:after {
                        display: none;
                    }
                }
                .aside__title {
                    font-size: 28px;
                }
                .aside__text {
                    font-size: 16px;
                }
                .aside__nav {
                    .aside__list {
                        
                        .aside-item {
                            
                            .aside-item__link {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .aside__grid {
                    grid-template-columns: repeat(4, 75px);
                    gap: 15px;
                    
                    .aside__img-link {
                        
                        max-width: 75px;
                        max-height: 75px;
                        object-fit: cover;
                        img {}
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .footer__list {
                .footer__title {
                    font-size: 30px;
                }
                .footer__text {
                    font-size: 18px;
                }
                .footer__social {
                    .social-item {
                        img {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 479.9px) {
    .header {
        .header__flex {
            .header__logo {
                font-size: 50px;
            }
            .header__nav {
                .nav-item {
                    font-size: 38px;
                }
            }
        }
    }
    .page-title {
        .container {
            .page-title__title {
                font-size: 38px;
            }
        }
    }
    .wrapper {
        display: block;
        .bio {
            padding-bottom: 18px;
            
            article {
                p {
                    font-size: 24px;
                    line-height: 30px;
                    &:nth-of-type(4)::first-letter {
                        font-size: 400%;
                    }
                }
                blockquote {
                    font-size: 24px;
                    line-height: 30px;
                }
                .article__wrapper {
                    
                     
                     .article__img {
                        

                     }

                 }
                .article__column {
                    .column__list {
                        .column-list {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
        .aside {
            margin: 0;
            display: flex;
            justify-content: space-between; 
            gap: 100px;

            
            
            padding-bottom: 20px;
            .aside__wrapper {
                margin: 0 auto;
                &:first-child {
                    // min-width: 150px;
                }
                &:nth-child(2) {
                    // flex-grow: 0;
                }
                &:last-child {
                    // flex-grow: 0;
                }
                .aside__title {
                    font-size: 34px;
                }
                .aside__text {
                    font-size: 24px;
                }
                .aside__nav {
                    .aside__list {
                        
                        
                        .aside-item {
                            &:not(:last-child) { margin-bottom: 6px; }
                            .aside-item__link {
                                font-size: 24px;
                            }
                        }
                    }
                }
                .aside__grid {
                    grid-template-columns: repeat(2, 125px);
                    .aside__img-link {
                        max-width: 115px;
                        max-height: 115px;
                        
                        img {}
                    }
                }
            }
        }
    }
    .footer {
        .container {
        .footer__list {
            .footer__title {
                font-size: 34px;
            }
            .footer__text {
                text-align: justify;
                font-size: 22px;
                }
                .footer__social {
                    .social-item {  
                        img {
                            width: 16%;
                        }                  
                    }
                }
            }
        }
    }
}