@media (max-width: 767.9px) {
    .header {
        .header__flex {
            .header__logo {
                font-size: 46px;
            }

            .header__nav {
                .nav-item {
                    font-size: 30px;
                }
            }
        }
    }

    .page-title {
        .container {
            .page-title__title {
                font-size: 30px;
            }
        }
    }
    .portfolio {
        .sort {

        }
        .works {
            
        }
    }
    .footer {
        .container {
            .footer__list {
                .footer__title {
                    font-size: 30px;
                }

                .footer__text {
                    font-size: 18px;
                }

                .footer__social {
                    .social-item {
                        img {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
}