@font-face {
    font-weight: 700;
    font-family: "Helvetica Neue";
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Bold.ttf") format("truetype");
}
@font-face {
    font-weight: 300;
    font-family: "Helvetica Neue";
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Light.ttf") format("truetype");
}
@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: "Helvetica Neue";
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
}
@font-face {
    font-weight: 500;
    font-family: "Helvetica Neue";
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
}
@font-face {
    font-weight: 400;
    font-family: "Helvetica Neue";
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-Regular.ttf") format("truetype");
}
@font-face {
    font-weight: 400;
    font-family: "Helvetica Neue";
    font-style: italic;
    src: url("../../fonts/HerveticaNeue/HelveticaNeueCyr-RegularItalic.ttf") format("truetype");
}

@font-face {
    font-weight: normal;
    font-family: "Bebas";
    src: url("../../fonts/bebasneueregular.woff") format("woff");
}